[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = Cristobal
	email = clopca@amazon.es
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGg4EE0tDOJmkHQi6wWQZqm4wAgzh4sqyqQBnNZBinLv

[gpg]
	format = ssh
[commit]
	gpgsign = true

[includeIf "gitdir:/Users/clopca/dev/github/**"]
  path = /Users/clopca/dev/github/.gitconfig

[core]
	pager = 
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
